<div class="product-image">
  <% if facebox_image.nil? %>
  	<%= product_image(@product, itemprop: "image") %>
  <% else %>
  	<%= link_to image_tag(facebox_image.attachment.url(:product), itemprop: "image"), rel: 'facebox' %>
  <% end %>
</div>
