<div id="product-images" data-hook="product_images">
  <div id="main-image">
    <%= render :partial => 'facebox_image', :object => @product.images.first, :locals => { :size => :product} -%>
  </div>
  <div id="product-thumbnails" class="thumbnails">
    <%= render :partial => 'facebox_image', :collection => @product.images[1..-1], :locals => {:size => :small} -%>
  </div>
</div>
